#NavTopbar {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* grid-template-areas:
  "navigation searchBar profile"
  grid-template-columns:
     */
}

#searchChat {
  display: flex;
  margin: auto;
  align-items: center;
  height: 20px;
}
.profileIcon {
  font-size: 30px;
}
.profileIcon:hover {
  cursor: pointer;
  color: #4d3ea3;
}

.searchIcon {
  color: black;
}
#aDash {
  color: black;
  margin-left: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

#aDash:hover {
  color: #4d3ea3;
  text-shadow: 1px 1px rgb(199, 199, 199);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
.leftContent {
  display: flex;
  align-items: center;
}
.rightContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3vw;
}
.breadcrumbs {
  font-size: 16px;
}
