.Profile {
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  min-width: 350px;
}
.Profile-name {
  position: absolute;
  left: 10vw;
  border: 3px solid purple;
  margin: auto;
  padding: 10px;
}

#bio-title {
  border: 1px solid blue;
}

.Profile-bio {
  border: 1px solid blue;
  margin-left: 26vw;
}
.core {
  display: flex;
  justify-content: space-between;
}
.headerName {
  margin-bottom: 10px;
  /* display: inline-block; */
}
.profilePageBody {
  padding: 0 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
p {
  font-family: 'Roboto', sans-serif;
}
@media (min-width: 950px) {
  .profilePageBody {
    padding: 0 20px 0 20px;
    display: flex;
    align-content: center;
    justify-content: start;
  }
}

.profileButton {
  width: 200px;
}
.profileButton:hover {
  color: mintcream;
}
.profileButtonContainer {
  margin: 40px;
  display: flex;
  justify-content: center;
}
.profileInfo {
  max-width: 700px;
}

.profilePageEdit {
  padding: 0 20px 0 20px;
}
