#GroupChat_container {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#NavSidebar {
  width: 25%;
}

#MessageWindow {
  width: 55%;
  display: grid;
  grid-template-rows: auto 100px;
  grid-template-areas:
    'messages'
    'write';
}

#Members {
  width: 20%;
  background-color: #d2d4da;
}
