@media (min-width: 415px) {
  #GroupChat_container {
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .Chat {
    width: 65%;
    display: grid;
    grid-template-rows: 90% auto;
    grid-template-areas:
      'messages'
      'write';
    place-items: center;
    background-color: rgb(43, 43, 43);
    overflow-x: hidden;
  }
}
@media (max-width: 414px) {
  #GroupChat_container {
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Chat {
    width: 100vw;
    display: grid;
    grid-template-rows: 90% auto;
    grid-template-areas:
      'messages'
      'write';
    place-items: center;
    background-color: rgb(43, 43, 43);
    overflow-x: hidden;
  }
}

#NavSidebar {
  width: 20%;
  text-align: left;
}

.Chat {
  width: 65%;
  display: grid;
  grid-template-rows: 90% auto;
  grid-template-areas:
    'messages'
    'write';
  place-items: center;
  background-color: rgb(43, 43, 43);
  overflow-x: hidden;
}

#Members {
  width: 15%;
  background-color: #e6e9ef;
}

.heading {
  font-family: 'Quicksand', sans-serif;
  padding: 10px 0px 4px 0px;
  font-size: 18px;
  box-sizing: border-box;
  text-indent: 15px;
  background-color: #f7e6a1;
  border-radius: 10px;
  margin: 10px;
  /* #f3da75 */
}

.channel {
  font-size: 16px;
  padding: 8px;
  text-indent: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.channel:hover {
  cursor: pointer;
  background-color: #9fe5c3;
}
.navBarWidget {
  padding-bottom: 15px;
  height: 120px;
  min-height: 80px;
  /* border: 1px solid #b6bbcd; */
}

.groupMember:hover {
  cursor: pointer;
  color: #9fe5c3;
  text-shadow: 1px 1px rgb(43, 43, 43);
}

.resourceModal {
  position: absolute;
  padding: 20px;
  top: 18%;
  left: 10%;
  width: 80vw;
  height: 70vh;
  background-color: lightgrey;
  margin: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  overflow-y: auto;
}

.rsc {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px 0;
}
