#Explore {
  margin: auto;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}
.exploreHeader {
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
}
#categories {
  height: 80vh;
  width: 80vh;
  min-width: 450px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30%;
  row-gap: 25px;
  column-gap: 25px;
  justify-content: center;
  margin: auto;
}
.categoryCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryCard:hover {
  background-color: #c9c4e9;
  cursor: pointer;
}
.categoryText {
  font-weight: 600;
}
/* .checkMark {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.8;
} */
.buttonContainer {
  padding: 10px;
}
.nextButton {
  width: 200px;
}
